{% extends "base.html" %}
{% block content %}
<title>FocusHub - Task Completion</title>
<style>
    body {
        background-image: url('BG-1.jpeg'); /* adjust path if needed */
        background-size: cover;
        background-position: center;
        font-family: 'Playfair Display', serif;
    }

    h2 {
        margin-top: 200px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 50px;
    }
    .Task {
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-decoration-style: double;
        color: #0c0101;
        font-weight: bold;
    }

    form {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: transparent;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        margin-top: 40px;
        margin-bottom: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    }

    button {
        font-family: 'Playfair Display', serif;
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        width: 100%;
        padding: 10px;
        background-color: rgba(255, 219, 17, 0.938);
        color: rgb(12, 11, 11);
        border-width: 2px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease,color 0.3s ease;
    }

    button:hover {
        background-color: #000000;
        color:rgba(240, 199, 18, 0.966); 
    }
</style>
<h2>⏳ <span class="Task">Did You Complete The Task ?</span> ⏳</h2>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="session_id" value="{{ session.id }}">
    <button type="submit" name="completed" value="yes">✅ Yes</button>
    <button type="submit" name="completed" value="no">❌ No</button>
</form>
{% endblock %}
